@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Welcome to YachtCharter!
    
    Unser Ziel von YachtCharter ist es, Motorboot- oder Segelurlaub für jeden möglich zu machen. 
    Durch unser weites Portfolio kann jeder Kunde auf bequeme und sichere Art und WEise die Yacht seiner Wahl mieten.
    Kunden aus der ganzen Welt können aus einer großen Auswahl an Segelyachten, Motoryachten und Katamaranen wählen.</p>
