@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Cosima Kaiser<br />
    Segelyacht 17<br />
    0815 Karibik<br />
    <abbr title="Phone">P:</abbr>
    +49 1205 708090
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">c.k.yacht@yachtcharter.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@yachtcharter.com</a>
</address>